/*h2{
	border: 1px solid black;
}*/

.container{
	width: 50%;
}

#headingWrapper > *, .dataRow > *{
	border: 1px solid black;
}


#headingWrapper, .dataRow{
	display: flex;
}

.colTotalPoints{
	flex-basis: 25%;
}

.colPoints{
	flex-basis: 25%;
}

.colName{
	flex-basis: 40%;
}

.colNumber{
	flex-basis: 5%;
}

img{
	margin: 1px;
	height: 40px;
	width: 40px;
	border: 2px solid black;
}